body {
  font-family: 'Quicksand', sans-serif;
	letter-spacing: 2px;
}
a {
  color: #00B7FF;
  cursor: pointer;
}

a:hover,
a:active {
  color: #00B7FF;
  text-decoration: underline;
}

a.danger {
  color: green;
}



.spacing {
  margin-bottom: 20px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.header-con {
	margin: 0px;
	padding: 0px;
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #ff5050;
	background-color: white;
	color: #ff5050;
}
.brand {
	margin-top: 0px;
	padding-top: 10px;
}
#cart {
	margin-bottom: 10px; 
}
.labels {
	margin-top: 0px;
	margin-left: 1px;
	color: white;
}

#no-margin {
	margin-bottom: 0px;
}
#auth-inputs {
	background-color: transparent;
	border: 1px solid white;
	color: white;
}
#auth-btn {
	width: 100%;
	background-color: transparent;
	border: 1px solid white;
	color: white;
}
.item-con {
	padding-top: 10px;
	width: 100%;
	height: 100vh;
	background-color: #ff5050;
}
.fill {
	height: 200px;
	background-color: #ff5050;
}
.items-con {
	margin-bottom: 15px;
}
.seperator {
	width: 100%;
	height: 1px;
	background-color: white;
}
.item-type {
	font-size: 15px;
	margin-left: 10px;
	color: white;
}
.item-seperator {
	width: 100%;
	height: 1px;
	background-color: white;
	margin-bottom: 10px;
	margin-top: 7px;
}
#item-quantity, #add-btn, #quantity-input, #add-remove {
	text-align: center;
	font-size: 15px;
	margin: 0px;
	padding-left: 5px;
	padding-right: 5px;
}
#name-input, #name, #item-name {
	font-size: 15px;
}
#item-name, #item-quantity, #add-remove {
	color: white;
}
#name, #quantity {
	background-color: transparent;
	color: white;
	border: 1px solid white;
}
#quantity {
	text-align: center;
	letter-spacing: 2px;
	font-size: 15px;
	width: 70%;
	margin: 0 auto;
}
#add-item {
	border: 1px solid white;
	background-color: #5bb77a;
	text-align: center;
	margin: 0px;
	padding-top: 4px;
	padding-bottom: 3px;
	padding-right: 9px;
	padding-left: 9px;
}
#plus {
	color: white;
    text-shadow: black 0px 0px 5px;
    -webkit-font-smoothing: antialiased;
}


.color-con {
	height: 100vh;
	background-color: #ff5050
}

.nav-tabs > li.active > a {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.nav > li > a {
	color: #ff5050;
	font-size: 15px;
	padding-left: 9px;
	padding-right: 8px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 0px;
}
.nav-tabs {
	border-bottom-color: white;
	background-color: white;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	border: 1px solid #ff5050;
	color: white;
	border-top: none;
	border-bottom-color: #ff5050;
	background-color: #ff5050
}
#no-border {
	border-left: none;
}



