<div class="item-con">
    <div class="container-fluid">
        <div class="items-con">
            <h4 class="item-type">Produce</h4>
            <div class="seperator"></div>
        </div>
        <div class="items-con">
            <h4 class="item-type">Meat</h4>
            <div class="seperator"></div>
        </div>
        <div class="items-con">
            <h4 class="item-type">Dairy</h4>
            <div class="seperator"></div>
        </div>
        <div class="items-con">
            <h4 class="item-type">Other</h4>
            <div class="seperator"></div>
        </div>
    </div>
</div>