<div>
    <header class="row spacing" id="no-margin">
        <nav class="col-xs-12">
            <ul class="nav nav-tabs">
                <li routerLinkActive="active"><a [routerLink]="['items']" id="no-border">Items</a></li>
                <li routerLinkActive="active"><a [routerLink]="['produce']">Produce</a></li>
                <li routerLinkActive="active"><a [routerLink]="['meat']">Meat</a></li>
                <li routerLinkActive="active"><a [routerLink]="['dairy']">Dairy</a></li>
                <li routerLinkActive="active"><a [routerLink]="['other']">Other</a></li>
            </ul>
        </nav>
    </header>
    <div class="row spacing">
        <router-outlet></router-outlet>
    </div>
</div>